:where(.css-dev-only-do-not-override-htwhyh).ant-carousel .slick-dots li button{
    background: gray;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-carousel .slick-dots li.slick-active button{
    background: orangered;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-carousel .slick-dots-bottom{
    bottom: 5px;
}


.containerv3{
    padding: 0 10%;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-card-hoverable{
    width: 100%;
}


