.footer_top{
    background-image: url("http://demo1.cybersoft.edu.vn/static/media/backapp.b46ef3a1.jpg");
    padding: 120px 10% 80px ;
    background-size: contain;
    color: white;
}

.logone{
    border-radius: 30px;
    width: 22%;
    margin-right: 60px;
}

.top_left{
    padding-right: 20%;
    padding-left: 5%;
}

h1.ten{
    padding-top: 10%;
    font-size: 35px;
    font-weight: 700;
    line-height: 70px;
}

h1.detail{
    margin: 10% 0;
    line-height: 25px;
}


.btn01{
    color: white;
    font-weight: 700;
    background-color: orangered;
    padding: 20px;
}

.containerv2{
    padding: 2% 22%;
}

hr{
    margin: 1%;
    size: 5px;
    background-color: white;
}

.footer_bottom{
    background-color: #212121;
    color: white;
}