:where(.css-dev-only-do-not-override-htwhyh).ant-card-hoverable{
    width: 80%;
}

.carousel-item:hover .item_an{
    
    display: block;
}

.ant-modal-body{
    height: 70vh;
}

.item_an{
    display: none;
    width: 100%;
    height: 150%;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s linear;
}

.item_an1{
    width: 100%;
    height: 67%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-modal .ant-modal-close-x{
    font-size: 24px;
    top: -30px;
    right: -20px;
    position: absolute;
    color: azure;
}
.ant-modal-footer{
    display: none;
}

.ant-modal-wrap{
    height: 100%;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-modal .ant-modal-content{
    background: transparent;
    box-shadow: none;
}

.item_an2{
    margin-top: 10px;
    height: 30%;
    background-color: white;
    text-align: center;
    padding-top: 20%;
}

.btn-xem{
    padding: 5% 20%;
}

.carousel-item{
    position: relative;
}